<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa xe</title>
</head>
<body>
<h1>Sửa thông tin xe tải</h1>
<form th:action="@{/truck/update}" th:object="${truck}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="hidden" th:field="*{id}">
    <label>Biển số</label>
        <input type="text" th:field="*{licensePlate}"><br>
    <label>Model</label>
    <input type="text" th:field="*{model}"><br>
    <label >Color</label>
    <input type="text" th:field="*{color}"><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <button type="submit">Lưu</button>
</form>

</body>
</html>